
/* *{
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
} */

/* NAV BAR */

.container {
   padding-top: 1rem;
  padding-bottom: 1rem; 
}
.full-row{
  width: 100%;
} 
.custom-container{
  margin-left: 10px;
  margin-right: 10px;
}
#our .container{
  padding-top: 0;
}
.sub-text .container{
  padding-top: 2rem;
  padding-bottom: 2rem;
} 

.no-pad{
  padding-top: 0;
  padding-bottom: 0;
}
.ul-list{
  padding: 0;
}

.container-footer {
  width: 100%;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border-radius: 100px;
  padding: 0.5rem 3rem;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  color: #ffffff;
}
.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.btn i {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover i {
  left: 0.1rem;
  position: relative;
}

.btn-blue {
  background-color: #EE5727;
  border-color: transparent;
  color: #ffffff;
  ;
}
.travel-tech-btn{
  display: none;
}

.section-title h1 {
 
  font-weight: 600;
  font-size: 3.2rem;


}
.sec-title{
  font-size: 20px !important;
}

.logo {
  line-height: 30px;
  position: fixed;
  float: left;
  margin: 10px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  /* transition: background-color 200ms ease-out 0s; */
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav:hover {
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #EE5727;
}

nav:hover .logo-brand {
  color: #ffffff !important;
}

nav:hover .logo-brand > span > img {
  filter: brightness(0) invert(1);
}

nav ul {
  line-height: 30px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
 
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

nav.black {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}

nav.black .logo-brand {
  color: #ffffff !important;
}

nav.black ul {
  background-color: #EE5727;
}

nav.black .logo {
  
}

nav.black .logo-brand > span > img {
  filter: brightness(0) invert(1);
}

nav.black ul li {
  
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}


nav ul li {
  display: inline-block;
  padding: 10px 10px;
  ;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  
}

.nav-separate {
  display: none;
}
/* Custom nav CSS */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.custom-li{
  padding: 0 60px 0 0 !important;
}
.custom-li a{
  font-size: 12px;
  color: #cfcfcf;
}
.e-travel a{
  font-size: 14px;
  color: white;
  font-weight: 400;
  letter-spacing: normal;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  position: inherit !important;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 1px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 40px;
  background: #EE5727;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:  #E43725;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.direct-btn{ background: #EE5727 !important;
padding: 0  8px;
border-radius: 2px;}  

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
    position: absolute;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* padding: 24px; */
    text-align: center;
  }


  .menu-icon {
    display: block;
  }

}
/* ////////////////////////////// */
.p-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-flex{
  display: flex;
}
.v-center{
  display: flex;
    justify-content: center;
}

.main-page-com-space{
  margin-top: 10rem;
}

/* ////////////////////////////// */
.main-home-wrapper {
  background-image: url("../images/Main-bck/mainpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.main-home-wrapper-bposervice{
  background-image: url("../images/Main-bck/bposervice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-software-dev {
  background-image: url("../images/Main-bck/enterprice-service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-com-info {
  background-image: url("../images/Main-bck/com-info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-contact-us {
  background-image: url("../images/Main-bck/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-rezg{
  background-image: url("../images/Main-bck/rezg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-recpt{
  background-image: url("../images/Main-bck/recpt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-inf-management{
  background-image: url("../images/Main-bck/inf-management.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-join-us{
  background-image: url("../images/Main-bck/join-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-our-expertise{
  background-image: url("../images/Main-bck/our-expertise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-our-work{
  background-image: url("../images/Main-bck/our-work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-news{
  background-image: url("../images/Main-bck/News.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-blog{
  background-image: url("../images/Main-bck/News.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-dem{
  background-image: url("../images/Main-bck/nn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-on-demand{
  background-image: url("../images/Main-bck/on-demand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-abt{
  background-image: url("../images/Main-bck/abt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-leadership{
  background-image: url("../images/Main-bck/leadership.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-technology{
  background-image: url("../images/Main-bck/technology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-home-wrapper-blog{
  background-image: url("../images/Main-bck/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.main-home-wrapper-why-rezg{
  background-image: url("../images/Main-bck/Why-RezG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.main-note {
  color: #ffffff;
  text-align: left;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  /* position: absolute;
  top: 38%; */
}

.main-topic {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 4.1rem;
  position: relative;
  z-index: 1;
  min-height: 80px;
}

.section-title {
  margin-bottom: 2rem;
}

.top-note {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.sec-top-note{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.top-note-app {
  font-weight: 500;
 
  line-height: 1.6;
  margin-bottom: 1.6rem;
  font-size: 20px;
    font-weight: 400;
}

.sub-topic {
  margin-bottom: 2rem;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
}
.sub-topic-main{
  margin-bottom: 3rem;
  margin-top: 2rem; 
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  color: white;
}

.sub-topic-main-page{
  color: #454444;
  text-align: center;
  font-size: 24px;
}
.sub-top-color{
  color:#EE5727;
}


.sub-topic-top {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}

.note-wrapper {
  width: 75%;
}

.lets-talk-btn {
  padding: 0.5rem 2rem;
  font-size: 13px;
  background-color: #EE5727;
  border-color: transparent;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.lets-talk-btn:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  color: #fff;
}

.lets-talk-btn-border {
  padding: 0.5rem 3rem;
  font-size: 13px;
  border: 1px solid #EE5727;
  margin: 0 10px;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.call-us{
  font-size: 17px;
  font-weight: 500;
}
.modal-header{
  color: #EE5727;
}
.close{
  outline: none !important;
}
.card-img-top{
  cursor: pointer;
}

.lets-talk-btn-border:hover {
  background-color: #EE5727;
}
.lets-talk-btn-link{
  text-decoration: none;
  color: white;
}
.lets-talk-btn-link:hover{
  text-decoration: none;
  color: white;
}
.contact-blake-line {
  width: 1px;
  background-color: #ffffff;
  height: 10px;
  display: block;
  margin-right: 1rem;
}

.nav-separate i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-social {
  cursor: pointer;
}

.contact-social i {
  transition: -webkit-transform .2s ease;
  -webkit-transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.contact-social:hover i {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #393939;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.logo-brand {
  font-weight: 400;
  color: #EE5727 !important;
}

.logo-brand > span > img {
  width: 200px;
  margin-top: -5px;
}

.logo-brand span {
  font-size: 12px;
  color: #ffffff !important;
}

/* SECTION */

.about-us-content p {
  font-weight: 400;
}

.join-main-wrapper {
  position: relative;
  top: 19%;
}

.value-content-style {
  font-size: 14px;
  color: #495057;
}

.value-title-style {
  font-size: 20px;
  font-weight: 600;
}

.va-icon-wrap {
  margin-right: 10px;
}


.value-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 1rem;
}

.va-icon-wrap i {
  font-size: 32px;
}

.va-icon-wrap i {
  color: #6a5acd
}

.value_wrapper {
  margin-bottom: 2rem;
  padding: 25px 15px;
  border-radius: 7px;
  min-height: 185px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  background: #ffffff;
}
.value_wrapper-main{
  margin-bottom: 2rem;
  cursor: pointer;
  
  border-radius: 7px;
  min-height: 100px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  background: #ffffff;
}

.value_wrapper-main:hover{
  transform: scale(1.05);
}

.value_wrapper-main-service{
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1px;
  cursor: pointer;
  
  border-radius: 7px;
  min-height: 100px;
  height: 100px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  background: #ffffff;
}

.value-header-main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  

}

/* .wedo-main-wrapper {
position: relative;
top: 15%;
width: 100%;
display: flex;
flex-wrap: wrap;
} */

.wedo-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wedo-service-wrapper {
  margin-bottom: 30px;
}

.wedo-service-wrapper__inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  background-color: #f5f6f9;
  border-radius: .5rem;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.wedo-service-wrapper__inner:hover {
  background-color: #ffffff;
  -webkit-box-shadow: -1px 7px 51px 0px rgba(75, 81, 91, 0.18);
  box-shadow: -1px 7px 51px 0px rgba(75, 81, 91, 0.18);
}

.abt .wedo-service-wrapper__inner.bg__es {
  height: 400px;
}
.problems-solved-main .wedo-service-wrapper__inner.bg__es {
 height: 400px;
}

.wedo-service-wrapper__inner__info {
  height: 100%;
  padding: 10px;
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.wedo-service-wrapper__inner__info>img {
  width: 40px;
  margin-bottom: 1rem;
}

.product-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.wedo-service-wrapper__inner__info>a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color:  #EE5727;
  display: block;
}
.rez-link{
  color:  #EE5727;
}
.rez-link:hover{
  color:  #EE5727;
}

.wedo-service-wrapper__inner__info>a i {
  margin-left: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.wedo-service-wrapper__inner__info>a:hover i {
  margin-left: 1rem;
}

.product-link {
  margin-bottom: 1rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: default;
}

.product-link>img {
  margin-right: 1rem;
}

.product-link:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.about-us-image {
  position: absolute;
  top: 16%;
  right: 0;
  width: 31vw;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.fa-arrow-circle-right {
  margin-left: 7px;
}

.wedo-service-wrapper__inner__info>p {
  color: #363d4a;
  font-weight: 200;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: inherit;
}

.bg-gray {
  background-color: #f5f6f9;
}

.wedo-service-img {
  position: absolute;
  width: 230px;
  right: 15px;
  bottom: 30px;
  z-index: 0;
}

.wedo-service-img img {
  width: 100%;
}
.img-rezgpck{
  width: 100%;
}

.count-text{
  color: #EE5727;
  font-weight: 400;
}
.count-text-deco{
  font-weight: 500;
  font-size: 18px;
}

/* .product-link h6 {
  display: none;
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.product-link:hover h6 {
  display: block;
  position: absolute;
  left: 0;
  top: -17px;
  font-size: 11px;
  width: max-content;
} */

.bg-black {
  color: #fff;
  background-color: #0e141f;
  -webkit-box-shadow: inset 0 9rem 14rem -9rem #000;
  box-shadow: inset 0 9rem 14rem -9rem #000;
}

/* CONTACT */

.contact__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-phone h6,
.contact-email h6 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.contact-subtitle,
.contact-content {
  margin-bottom: 2rem;
  font-weight: 500;
}

.contact__address__inner address {
  font-weight: 400;
  color: #EE5727;
  font-size: 14px;
}

.contact__address__inner address h6 {
  font-size: 16px;
}

.contact__address__inner h5 {
  color: #696969;
  margin-bottom: 1rem;
  font-weight: 400;
}
.address-dev-center{
  margin-top: 100px;
}
footer {
  padding: 12px;
  text-align: center;
  background-color: #000000;
}
.abt-footer{
  max-width: 1400px !important;
}
.footer-list{
  list-style: none;
  padding: 0;
}
.footer-list a {
  font-weight: 400;
  color: #EE5727;
  font-size: 14px;
}
.footer-list a:hover {
  color: white;
 
}
.footer-list-topic{
  font-size: 20px;
}

footer h6 {
  font-size: 13px;
  margin: 0;
  color: #a9a9a9;
  font-weight: 400;
}
.footer-mail a{
  color: #EE5727;
}
.footer-mail a:hover{
  color: #EE5727;
}
.footer-contact{
  font-size: 11px;
}

/* SOCIAL MEDIAL */

#social {
  margin-top: 2rem;
}

.smGlobalBtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 2px 2px #0c0c0c;
  box-shadow: 0 2px 2px #0c0c0c;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-right: 1rem;
  font-size: 21px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* facebook button class*/
.facebookBtn {
  background: #4060A5;
}

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
  /* add facebook icon */
}

.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
}

/* twitter button class*/
.twitterBtn {
  background: #00ABE3;
}

.twitterBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  /* add twitter icon */
}

.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
}

/* google plus button class*/
.googleplusBtn {
  background: #e64522;
}

.googleplusBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d5";
  /* add googleplus icon */
}

.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
}

/* linkedin button class*/
.linkedinBtn {
  background: #0094BC;
}

.linkedinBtn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
  /* add linkedin icon */
}
/* /////////////////// */

/* ///////////////// */
.linkedinBtn:hover {
  color: #0094BC;
  background: #fff;
}

.about-heading-text {
  position: relative;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 2px;
  color: #ababab;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mark-text {
  font-size: 180px;
  line-height: .8;
  font-weight: 900;
  margin: 0 5px -5px -5px;
  color: #ff4500;
  background: #ff4500;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec7f37), to(#ff4500));
  background: -o-linear-gradient(top, #ec7f37 0%, #ff4500 100%);
  background: linear-gradient(to bottom, #ec7f37 0%, #ff4500 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec7f37', endColorstr='#ff4500', GradientType=0);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-discover {
  /* margin-top: 1.56rem; */
  margin-bottom: 1.5rem;
  text-align: justify;
}
.heading-discover-text{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 20px;
    font-weight: 400;
}
.heading-discover-tech{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 19px;
    font-weight: 400;
}

.section-sub-title {
  color: #ababab;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.43;
  margin-top: -5px;
}

.text-color-primary {
  color: #be4f0c;
}
.why-rez-text{
  font-weight: 600;
}

.inner-img-one {
  position: absolute;
  z-index: -1;
  bottom: -20px;
  right: -29%;
  width: 191%;
  margin-right: -49%;
}

.img-fluid {
  max-width: 80%;
  height: auto;
}
.img-fluid-bis {
  max-width: 70%;
  height: auto;
}
.img-fluid-rez{
  max-width: 100%;
  height: auto;
  margin-left: 30px;
}
.img-fluid-app {
  max-width: 100%;
  height: auto;
}

.world-rotate {
  -webkit-animation: rezWorldRotate 20s linear infinite;
  animation: rezWorldRotate 20s linear infinite;
}


/*--- spinner keyframe ---*/
@-webkit-keyframes rezWorldRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
    transform: rotate(0deg) translateX(0px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
    transform: rotate(0deg) translateY(0px) rotate(-360deg);
  }
}

@keyframes rezWorldRotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
    transform: rotate(0deg) translateX(0px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
    transform: rotate(0deg) translateY(0px) rotate(-360deg);
  }
}


.contact-inner input,
.contact-inner textarea {
  width: 100%;
  color: #000;
  border-color: #adb5bd;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  border: none;
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 5px;
  padding: 3px 20px;
  height: 56px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus,
select:focus,
textarea:focus {
  color: #EE5727;
  border-color: #EE5727;
}

a,
button,
img,
input,
span,
textarea {
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contact-inner textarea {
  min-height: 150px;
  padding: 15px;
}

.contact-inner {
  margin-bottom: 1rem;
}

.sub-heading {
  color: #6c757d;
}

.conact-us-wrap-one .heading {
  margin-bottom: 1.5rem;
}

.conact-us-wrap-two {
  position: relative;
  top: -14px;
  z-index: 0;
}

.conact-us-wrap-two .contact-main-img {
  width: 100%;
}

.contact-cloud {
  position: absolute;
  z-index: 0;
}

.contact-cloud.cloud-img-one {
  left: 0;
  top: 44px;
}

.contact-cloud.cloud-img-two {
  right: 0;
  top: 25px;
}


.contact-cloud {
  -webkit-animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
  -webkit-animation-name: animateUpDown;
  animation-name: animateUpDown;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.cloud-img-one {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.cloud-img-two {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.main-image {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.main-image-inner {
  position: relative;
}

.forground-img-one {
  text-align: right;
  width: 130%;
}

.main-image {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.main-home-wrapper>.container {
  height: 123vh;
  padding-bottom: 0;
}

.main-home-wrapper>.container>.row {
  height: 60%;
}

.contact-phone .con-icon,
.contact-email .con-icon {
  color: #ec7f37;
  font-size: 40px;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 54px;
}

.con-main-content .con-heading {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.78;
  margin-bottom: 0px;
  color: #696969;
}

.con-main-content .con-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.17;
  color: #EE5727;
}

.contact-phone,
.contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.problems-solved-list ul {
  list-style: none;
  padding: 0;
}

.problems-solved-list ul li {
  padding-bottom: 10px;
}

.problems-solved-list ul i {
  font-size: 17px;
  padding-right: 4px;
  color: #1acc8d;
}

.problems-solved-sub-title {
  color: #6c757d;
}

.problems-solved-icon {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 2rem;
  width: 50px;
  height: 50px;
  border: 2px solid  #EE5727;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.problems-solved-icon i {
  color: #EE5727;
  font-size: 28px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.problems-solved-details:hover i {
  color: #ffffff;
}

.problems-solved-details:hover .problems-solved-icon {
  background:  #EE5727;
  border-color:  #EE5727;
}

.problems-solved-inner-title a {
  color: #393939;
  font-size: 22px;
  vertical-align: top;
}

.problems-solved-inner-title a:hover {
  color: #ec7f37;
}

.problems-solved-description {
  color: #6c757d;
  line-height: 18px;
  font-size: 16px;
  text-align: justify;
}

.problems-solved-secondry {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left:2rem;
}

.problems-solved-inner-title {
  margin-bottom: 3px;
  margin-top: 10px;
}

.problems-solved-img {
  height: 100%;
 
}

.service-list-image {
  float: left;
  width: 45px;
  margin-right: 8px;
  text-align: center;
  padding-top: 3px;
}

.service-list-image i {
  display: block;
  color: #888;
  font-size: 19px;
  font-style: normal;
  line-height: 20px;
}

.service-list-details h3 {
  font-weight: 600;
  color: #222222;
  font-size: 15px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-list-details p {
  color: #888888;
  font-size: 14px;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  margin-bottom: 0.4rem;
}

.problems-solved-details {
  margin-bottom: 1.5rem;
}

/* QUICK CONTACT */

.quick-contact-info-main,
.quick-contact-wrapper,
.quick-contact-call,
.quick-contact-find,
.quick-contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-contact-title h5 {
  font-size: 35px;
}

.quick-contact-icon i {
  font-size: 40px;
  color: #be4f0c;
}
.quick-contact-info a{
  color: white;
}
.quick-contact-info a:hover{
  color: #be4f0c;
}


.quick-contact-icon {
  margin-right: 0.7rem;
}

.quick-contact-info-main {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  position: relative;
}

.quick-contact-wrapper {
  background-color: #393939;
  padding: 10px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  color: #ffffff;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.quick-contact-wrapper:hover {
  background-color: #222222;
}

.quick-contact-info h6:nth-child(1),
.quick-contact-info address {
  font-weight: 400;
  font-size: 15px;
}

.quick-contact-info h6:nth-child(2),
.quick-contact-info address {
  margin-bottom: 0;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 600;
}

.quick-contact-title h5>span {
  font-weight: 300;
}

.quick-contact-line {
  height: 3px;
  background-color: #EE5727;
  width: 75px;
  margin-bottom: 3px;
  margin-top: 15px;
}

.quick-contact-wrapper>.container {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.quick-contact-info h6:nth-child(1) {
  font-size: 19px;
  font-weight: 300;
  color: #a9a9a9;
}

.quick-contact-icon .fas.fa-envelope {
  margin-top: -4px;
}

.tech-text{
  color: #EE5727;
}
.p-text{
  text-align: justify;
}
.pt-center{
  text-align: center;
}

.com-style-margin{

}
.cld-space{
  margin-top: 10px;
}
.cld-topic{
  padding: 20px 0 0 0;
  font-size: 2rem;
}
.contact-primary{
  font-size: 16px;
  font-weight: 400;
}





#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


.tab-label{
  
  margin: 40px 5px;
  padding: 20px;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  width: 200px;
  font-size: 14px;
  height: 75px;
  color: black;
  min-height: 75px;
  -webkit-box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  box-shadow: -1px 9px 18px 0px rgba(75, 81, 91, 0.1);
  background: #ffffff;
}
.activee, .tab-label:hover{
  background:rgb(240, 122, 12);
  color: white;

}
.cust-tab .tab-label{
  width: 175px;
}

.tab-pannel a:hover{
  text-decoration: none !important;
}
.client-logo{
  height: 45px;
}
.cloud-mig-text{
  font-size: 45px !important;
}

.usr-crd .card{
  height: 25rem !important;
  margin: 20px 0;
  width: 18rem;
}
.usr-crd .card-title{
  text-decoration: underline;
    color: #EE5727;
}
.abt .section-title h1  {
  font-size: 40px !important;
}
.sub-primary-text{
  font-size: 25px;
}
.tab-soft .section-title h1{
  font-size: 2.2rem !important;

}

.tab-soft .top-note-app{
  font-size: 30px;
  margin: 5px 0 10px 0 !important;
}

.show-off{
 display: none;
}
.show-off-gap{
  visibility: hidden;
}
/* Slider */
.social {
  display:block;
  position:fixed;
  top:280px;
 right:  0;
 z-index: 2;
 
}

.social a {
  display:block;
  position:relative;
  background:#ffffff;
  margin-bottom:1px;
  padding:5px 10px;
  border-radius:5px 0 0 5px;
  font-size:16px;
  line-height:1.2em;
  color:#000000;
  background: #EE5727;

  text-align:left;
  text-decoration:none;
  width:205px;
   right:calc(-100% + 145px);  
  transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -webkittransition:all 0.5s ease-in-out;
}
 .social a:after {
  display: inline-block;
  
  
  font-size:1.5em;
  text-align:center;
  vertical-align:middle;
  margin-left:15px;
}  
.social a:hover {
  right:0;
  color: white; 
 

 
  
}
.social a[data-src="facebook"]:after {
  content:"\f231";
}
.social a[data-src="twitter"]:after {
  content:"\f243";
}
.social a[data-src="pinterest"]:after {
  content:"\f2b1";
}
.social a[data-src="instagram"]:after {
  content:"\f350";
}
.social a[data-src="github"]:after {
  content:"\f233";
}
.social a[data-src="google-plus"]:after {
  content:"\f235";
}
.social a[data-src="email"]:after {
  content:"\f132";
}

.count-card{
  text-align: center;
  height: 80px;
  border-right: 1px dashed #EE5727;
}
.count-carde{
  border-right: 0px solid black;
  text-align: center;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}


.contact-box-icon{
  color: #EE5727;
  font-size: 26px;
  margin-right: 10px;
}
.contact-box-topic{
  font-size: 16px;
  font-weight: 500;
  color: #EE5727;
}
.contact-box-main{
  font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 10px;
}
.contact-box-main-sub{
  font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #666;
}
.contact-box-add{
  font-size: 14px;
}
.contact-map-img{
  height: 80%;
}
.form-submission .form-control:focus{
  box-shadow: none !important;
}
.form-submission .form-control:focus{
  box-shadow: none !important; 
  border-color: #EE5727;
}
.form-control:focus{
  box-shadow: none !important; 
  border-color: #EE5727;
} 
.main-note .btn{
  box-shadow: none;
}